.ContainerNextTime {
  /* margin-top: 10px; */
  width: 48%;
  height: 120px;
  background: linear-gradient(to bottom, #e7fff4, #c7fae3, #00ca66);
  border: 1px solid #0a5a39;
  border-radius: 5px;
}
