/* LoadingSpinner.module.css */

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px; /* Adjust the height of the line */
  width: 100%;
  background-color: green;
  animation: loadingAnimation 2s linear forwards;
}

@keyframes loadingAnimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
